.blog-list span {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

.blog-list hr {
  width: 80%;
  border: 1px dashed #fffed7;
}

.blog-list span p {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}

.blog-list span {
  cursor: pointer;
}

.blog-list span .title {
  font-size: 30px;
}
