.snippet {
  background-color: rgb(82, 82, 82);
  margin: 3% 30% 0 30%;
  color: white;
  padding: 0 5%;
  border: 2px solid white;
}

.snippet i {
  color: #eede00;
}

.snippet u {
  text-decoration: none;
  color: #08ee00;
}

table {
    border: 2px solid white;
}

tr {
  background-color: rgb(82, 82, 82);
  color: white;
}

td {
    padding: 10%;
}

tr:hover {
    background-color: rgb(143, 143, 143);
}