@import url("https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap");

body {
  background-color: rgb(59,68,75);
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
  scroll-padding-bottom: 10%;
  border: 10px solid #ffffff;

  font-family: "Datatype", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 20px;
}

h1 {
  color: #08ee00;
  font-size: 100px;
  margin: 0;
  text-shadow: none;
}

h1:hover {
  text-shadow: 0 0 4px #08ee00;
}

h2 {
  color: #ffffff;
  font-size: 60px;
  margin: 0;
  text-shadow: none;
}

h2:hover {
  text-shadow: 0 0 4px #ffffff;
}

h3 {
  color: #fffed7;
  font-size: 40px;
  margin: 0;
  text-align: center;
  margin-top: 2%;
  text-shadow: none;
}

h3:hover {
  text-shadow: 0 0 4px #fffed7;
}

h4 {
  color: #fffed7;
  font-size: 20px;
  margin: 0;
  margin-top: 2%;
  text-shadow: none;
}

h4:hover {
  text-shadow: 0 0 4px #fffed7;
}

p {
  color: #ffffff;
}

a {
  color: #eede00;
  text-decoration: none;
}

a.header {
  color: #08ee00;
  text-shadow: none;
}

a:not(h1 a, h2 a, h3 a, h4 a):hover,
a:not(h1 a, h2 a, h3 a, h4 a):focus {
  color: #00ff40;
  text-shadow: 0 0 4px #08ee00;
}

a.header:hover,
a.header:focus {
  color: #09ff00;
  text-shadow: 0 0 4px #08ee00;
}

h3 a {
  color: #fffed7;
  font-size: 40px;
  margin: 0;
  text-align: center;
  margin-top: 2%;
  text-decoration: none;
}

h3 a:hover,
h3 a:focus {
  color: #fffed7;
  font-size: 40px;
  margin: 0;
  text-align: center;
  margin-top: 2%;
}

hr {
  border: 3px solid #ffffff;
}

footer {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #eede00;
  padding-top: 3%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3%;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
  margin: 0 30px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 5px;
  font-size: 20px;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
  }
  .footer-column {
    margin-bottom: 20px;
  }
}

#context-menu {
  background-color: rgb(59,68,75);
  border: 2px solid white;
  border-radius: 10px;
  width: 10em;
  padding: 0.8em 0.6em;
  font-size: 1.3rem;
  position: fixed;
  visibility: hidden;
}

.item {
  padding: 0.3em 1.2em;
  text-shadow: none;
}

.item:hover {
  background-color: #0e7e28;
  cursor: pointer;
}

p {
  text-indent: 30px;
  text-shadow: none;
}

details:hover {
  text-shadow: 0 0 4px #ffffff;
}

details p {
  text-shadow: none;
}